# docker-compose 파일은 Docker Compose가 어떤 컨테이너들을 어떻게 띄울지 적어놓은 설정 파일입니다.

# Docker Compose 파일 버전 (3.9 = 최신 v3 계열)
version: "3.9"

# 실행할 컨테이너 목록(서비스 그룹)을 정의하는 섹션
services:                      
  # 서비스 이름 (원하는 이름으로 사용 가능)
  web:                         
    # 현재 디렉토리의 Dockerfile을 기준으로 이미지를 빌드함
    build: .                   
    
    # 호스트 8000번 포트를 컨테이너 8000번 포트와 연결 (외부에서 접속 가능) 
    ports:
      - "8000:8000"

    # 로컬 볼륨 'sqlite_data'를 컨테이너 내부의 DB 파일 경로(/app/db.sqlite3)에 마운트하여 데이터 보존            
    volumes:
      - sqlite_data:/app
    command: python manage.py runserver 0.0.0.0:8000  
                                 
# 컨테이너 실행 시 실행할 명령어 (Django 개발 서버 실행)
volumes:                         

  # Compose에서 사용할 볼륨 목록 정의
  # SQLite DB 파일을 저장할 영구 볼륨 (데이터 유지 목적)
  sqlite_data:                   